@model SampleMvc.Board.Models.Document

@{
    ViewData["Title"] = "Detail";
}

<div class="page-header">
    <h2>@Html.DisplayFor(model => model.Title)</h2>
    <p>@Html.DisplayFor(model => model.Name)</p>
</div>


<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <div class="row">
        <div class="col col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PostDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PostDate)
                </dd>
            </dl>
        </div>

        <div class="col col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.PostIp)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PostIp)
                </dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.ModifyDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ModifyDate)
                </dd>
            </dl>
        </div>
        <div class="col col-md-4">
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.ModifyIp)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ModifyIp)
                </dd>

            </dl>
        </div>
        <div class="col col-md-4"></div>
    </div>


    <div class="row">
        <div class="col col-xs-12">           
            
            @*@Html.DisplayFor(model => model.Content)*@
            <markdown source="Content" asp-for="Content" />
            
        </div>
    </div>


    <div class="row">
        <div class="col col-xs-6">
            <a asp-action="Index" asp-route-page="@ViewData["page"]" asp-route-keyword="@ViewData["keyword"]" class="btn btn-default">Back to List</a>
        </div>
        <div class="col col-xs-6 text-right">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Edit" asp-route-id="@Model.Id" asp-route-page="@ViewData["page"]" asp-route-keyword="@ViewData["keyword"]" class="btn btn-primary">Edit</a>
        </div>    
    </div>
</form>